@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h3>Подтверждение email</h3></div>
    <div class="panel-body">
        <div>@ViewBag.Message</div>
        <div class="btn btn-group">
            @*@Html.ActionLink("Игры", "Index", "Quest", new { @class = "btn btn-primary" })*@
        </div>
    </div>
</div>
