<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebApiServiceBaseUrl" value="http://localhost:9243/" />
<!-- [ start ] Настройки социальных сетей-->    
    <!--FaceBook-->
    <add key="FaceBookClientId" value="1601644850130436" />
    <add key="FaceBookClientSecret" value="5ca60a2235c69ed57cb4aa43685e84cc" />
    <add key="FaceBookRedirectUri" value="https://localhost:44366/ExternalLogin/FaceBookAuthCallback" />
    <add key="FaceBookScope" value="id,email,name,picture.width(200).height(200)" />
    <add key="FaceBookProvider" value="FaceBook" />
    <add key="FaceBookAppGetCodePath" value="https://www.facebook.com/v2.8/dialog/oauth" />
    <add key="FaceBookAppGetTokenPath" value="https://graph.facebook.com/v2.8/oauth/access_token" />
    <add key="FaceBookAppGetUserInfoPath" value="https://graph.facebook.com/me/" />
    <!--Google-->
    <add key="GoogleClientId" value="803183701728-q1ktbmuhces4vdj9udkmatn0gota8he8.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="yXNNeyD0OlL7pS-yfSzGL4bv" />
    <add key="GoogleRedirectUri" value="https://localhost:44366/ExternalLogin/GoogleAuthCallback" />
    <add key="GoogleScope" value="email" />
    <add key="GoogleProvider" value="Google" />
    <add key="GoogleAppGetCodePath" value="https://accounts.google.com/o/oauth2/auth" />
    <add key="GoogleAppGetTokenPath" value="https://accounts.google.com/o/oauth2/token" />
    <add key="GoogleAppGetUserInfoPath" value="https://www.googleapis.com/oauth2/v1/userinfo" />
    <!--VKontakte-->
    <add key="VKontakteClientId" value="5712694" />
    <add key="VKontakteClientSecret" value="yFCa0WNATugPbAMqsxso" />
    <add key="VKontakteRedirectUri" value="https://localhost:44366/ExternalLogin/VKontakteAuthCallback" />
    <add key="VKontakteScope" value="uid,first_name,last_name,screen_name,photo_big,email" />
    <add key="VKontakteProvider" value="VKontakte" />
    <add key="VKontakteAppGetCodePath" value="http://oauth.vk.com/authorize" />
    <add key="VKontakteAppGetTokenPath" value="https://oauth.vk.com/access_token" />
    <add key="VKontakteAppGetUserInfoPath" value="https://api.vk.com/method/users.get" />
    <!--Yandex-->
    <add key="YandexClientId" value="2c5f922adc9248c5ac8ac6a6cc74b5d8" />
    <add key="YandexClientSecret" value="0885fc2c643147049560890503abf227" />
    <add key="YandexRedirectUri" value="https://localhost:44366/ExternalLogin/YandexAuthCallback" />
    <add key="YandexScope" value="email" />
    <add key="YandexProvider" value="Yandex" />
    <add key="YandexAppGetCodePath" value="https://oauth.yandex.ru/authorize" />
    <add key="YandexAppGetTokenPath" value="https://oauth.yandex.ru/token" />
    <add key="YandexAppGetUserInfoPath" value="https://login.yandex.ru/info" />
<!-- [ end ] Настройки социальных сетей-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
