@model QuestGame.WebApi.Models.UserInvite

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>


<div class="panel panel-default" style="width:500px; margin: 20px auto">
    <div class="panel-heading">
        <h3 class="panel-title">Регистрация нового пользователя</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="Register" method="post">
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input name="Email" type="email" class="form-control" id="InputEmail" placeholder="Введите Email">
            </div>
            <div class="form-group">
                <label for="InputPassword">Пароль</label>
                <input name="Password" type="password" required class="form-control" id="InputPassword" placeholder="Введите Password">
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Пароль</label>
                <input name="ConfirmPassword" type="password" required class="form-control" id="ConfirmPassword" placeholder="Подтвердите Password">
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
