@model Dictionary<string, dynamic>

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">QuestGame это место, где Вы можете отвлечься от занятий. Поиграйте в небольшие игры-квесты.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Описание \ Правила \ FAQ &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Список доступных квестов</h3>
        @foreach (var Item in Model["QuestsList"])
        {
            <ul>
                <li><p>@Item</p></li>
            </ul>
        }
        <p><a class="btn btn-default" href="#">Полный список квестов &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Недавно присоединились</h3>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

        @*@foreach (var Item in Model["UsersList"])
        {
            <ul>
                <li><p>@Item</p></li>
            </ul>
        }*@
        <p><a class="btn btn-default" href="#">Cписок пользователей &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Создай свой квест</h3>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Начать &raquo;</a></p>
    </div>
</div>
