body {
    font-size:18px;
}

#backgroundPicture {
    background:url(../../Content/HomeIMG/HomeBackground3.jpg) repeat-x 0 100% fixed; 
    position:relative; 
    animation: background 1000s linear infinite;
    border-top:3px solid #41197C;
    -webkit-animation: background 1000s linear infinite; 
}   
@keyframes background {
    from { background-position: -5000% 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   @-webkit-keyframes background {
    from { background-position: -5000% 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   .opacited {
       background-color:#EEEEEE;
       opacity:0.65;
       font-family:Georgia;
   }
   #playGame {
       width:100%;
        height:20%;
        text-align: center;
   }
   #center {
       width:100%; 
       height:65%; 
       padding-top:5%; 
       padding-bottom:5%
   }
   #news {
       border-radius: 10px;
       position:absolute;
       width:15%; 
       height:70%;   
       left:0; 
       display: inline-block; 
       margin-left:2%;
       text-align: center;
   }
   #centralBlock {
       position:absolute;
       width:60%; 
       height:70%; 
       left:50%; 
       margin-left:-30%;
       display: inline-block;
       margin-right:10%;
       text-align:center;
   }
   #topQuests {
       border-radius: 10px;
       height: 75%;
   }
   #ButtonQuests {
    border-radius: 10px;
    margin-top: 5%;
    height: 18.5%;
    width:100%;
    color: white;
    font-size: 20px;
    background-color: #331122;
}
   #topPlayers {
       border-radius: 10px;
       position:absolute;
       width:15%; 
       height:70%;   
       right:0;
       display: inline-block; 
       margin-right:2%;
   }