@model IEnumerable<QuestGame.WebApi.Areas.Game.Models.MotionViewModel>

@{
    ViewBag.Title = "StageDetails";
}

<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>Available MOTIONS</h2></div>
        @{
            if (Model.Count() == 0)
            {
                <p>Нет локаций...</p>
            }
            else
            {
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var motions in Model)
                        {
                            <tr>
                                <td>@motions.Id</td>
                                <td>@motions.Description</td>
                                <td>@motions.NextStageId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
    @Html.ActionLink("Назад", "Index", "MainPage", new { area = "Game" }, new { @class = "btn btn-default" })
</div>
