@model QuestGame.WebApi.Models.UserViewModels.UserRegisterVM

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="@Model.Avatar" class="img-circle">
    </div>
    <div class="col-md-8">

    </div>
</div>